/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/products/[id]/Product.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Product_product__l2__4{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.Product_productCard__iQM4C {
    display: flex;
    width: 30vmax;
    height: 20vmax;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .Product_imageContainer__Wuto6 {
    width: 35%;
    height: 100%;
  }
  
  .Product_productImage__7009X {
    width: 100%;
    height: 100%;
  }
  
  .Product_details__1w073 {
    width: calc(100% - 35%); 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2%;
  }
  
  .Product_productName__MRa_1 {
    font-size: 2vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 2%;
  }
  
  .Product_productCategory__CZtTg {
    color: #888;
    margin-bottom: 5%;
    font-size: 1vw;
  }
  
  .Product_productDescription__8iKIF {
    font-size: 0.7vw;
    line-height: 1.5;
    color: #666;
    display: flex;
    margin-bottom: 6%;
  }

  .Product_price__D5__t{
    margin-left: 2%;
    font-size: 1.6vw;
    font-weight: 500;
  }

  @media (max-width : 600px) {
    .Product_productCard__iQM4C{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 40vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 8px;
    }
    .Product_imageContainer__Wuto6 {
      width: 100%;
      height: 45%;
    }

    .Product_details__1w073 {
      width: 100%;
      height: 55%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2%;
    }

    .Product_productName__MRa_1 {
      font-size: 4vw;
      font-weight: bold;
      color: #333;
      margin-bottom: 2%;
    }
    .Product_productCategory__CZtTg {
      color: #888;
      margin-bottom: 5%;
      font-size: 2.5vw;
    }
    
    .Product_productDescription__8iKIF {
      font-size: 2vw;
      line-height: 1.5;
      color: #666;
      display: flex;
      margin-bottom: 6%;
    }
  
    .Product_price__D5__t{
      margin-left: 2%;
      font-size: 2.8vw;
      font-weight: 500;
    }
  }
  
  
  
  
